.form-inline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 5px;
}
.form-select{
    width: 100%;
    height: 40px;
}

.rating-badge {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #ffcc00;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
}
.rows-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.movie-card {
    display: flex;
    position: relative;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.movie-card img {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}
.movie-text-body {
    padding: 20px;
    width: 100%;
    position: relative;
    height: 350px;
    box-sizing: border-box;
}
