<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/css/security_style.css">
</head>
<body>
<div class="white-container">
    <h1>Вход в систему</h1>

    <div th:if="${error != null}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <form action="/login" method="post" class="form">

        <div class="input-group">
            <label for="username">Логин</label>
            <input type="text" id="username" name="username" placeholder="Введите ваш логин" required>
        </div>
        <div class="input-group">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Введите ваш пароль" required>
        </div>
        <button type="submit" class="btn">Войти</button>
    </form>
    <div class="signup-link">
        <p>Еще нет аккаунта? <a href="/signup">Зарегистрироваться</a></p>
    </div>
</div>
</body>
</html>